.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 710px;
    height: 512px;
    box-sizing: border-box;
    margin: 100px auto 0px;

    &[data-pc='1'] {
        margin: 40px auto 0px;
    }
}

.mainBackground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.titleArea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 304px;
    height: 50px;
    margin-top: 28px;
    margin-left: 26px;
}

.titleDecoration {
    width: 48px;
    min-height: 48.14px;
    margin-left: 0.07px;
}

.titleImageWrapper {
    position: relative;
    width: 251.17px;
    height: 40.61px;
    margin-top: 8.4px;
    margin-left: 4.58px;
}

.titleDecorImage {
    position: absolute;
    width: 304px;
    height: 50px;
    top: 2.52px;
    left: 2.84px;
}

.titleMainImage {
    position: absolute;
    width: 251.17px;
    height: 40.61px;
    top: 0;
    left: 0;
}

.bannerImage {
    width: 622.13px;
    height: 56.25px;
    margin-top: 38.2px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    color: #fff;
    font-family: "PingFang SC";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    white-space: normal;
    /* 允许换行 */
    word-wrap: break-word;
    /* 超出宽度时自动换行 */

    span {
        color: #fbf405;
    }

}

.contentArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 181px;
    margin-top: 13.55px;
    margin-left: 223px;
}

.content {
    width: 100%;
    min-height: 181px;
    background-size: 100%;
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 356px;
    height: 91.13px;
    margin-top: 28px;
    margin-left: 177px;
    cursor: pointer;
}

.buttonBackground {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181.84px;
    height: 49.8px;
    margin-left: 86.83px;
    margin-bottom: 15.43px;
}

.buttonImage {
    width: 100%;
    height: 100%;
}