:root {

  /* demo */
  --var-demo-container-background-color: #382415;
  --var-demo-content-background-color: #27201F;
  --var-demo-buttonText-color: rgba(89, 43, 0, 1);
  --var-demo-status-color: rgba(255, 255, 255, 1);
}
